build/
install/
log/
*.pyc
__pycache__/
*.egg-info/
*.swp
.colcon/
.vscode/
cudnn-local-repo-ubuntu2404-9.8.0_1.0-1_amd64.deb
cudnn-local-repo-ubuntu2404-9.8.0_1.0-1_amd64.deb
cudnn-local-repo-ubuntu2404-9.8.0_1.0-1_amd64.deb
