<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="urdf1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import urdf1 urdf file -->
    <xacro:include filename="$(find urdf1)/urdf/urdf1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="urdf1.ros2_control.xacro" />


    <xacro:urdf1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
